<%= form_for(part, html: { :multipart => true }) do |f| %>
  <% if part.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(part.errors.count, "error") %> prohibited this part from being saved:</h2>

      <ul>
      <% part.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= fields_for :user do |a| %>
    <%= hidden_field_tag :id %>
  <% end %>

  <%= fields_for :product do |u| %>
    <div class="field">
      <%= u.label :brand %>
      <%= u.text_field :brand %>
    </div>

    <div class="field">
      <%= u.label :name %>
      <%= u.text_field :name %>
    </div>

    <div class="field">
      <%= u.label :description %>
      <%= u.text_field :description %>
    </div>

    <div class="field">
      <%= u.label :price %>
      <%= u.text_field :price %>
    </div>
  <% end %>

  <div class="field">
    <%= f.select :category_id, categories_for_select(part.category_id) %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
