<div class="pagecont contacts">
  <div class="contacts-form">
    <%= form_for(newslleter) do |f| %>
      <% if newslleter.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(newslleter.errors.count, "error") %> prohibited this newslleter from being saved:</h2>

          <ul>
          <% newslleter.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <h3><%= f.label :name %><h3>
      <%= f.text_field :name, placeholder: "Name" %>

      <h3><%= f.label :email %></h3>
      <%= f.text_field :email, placeholder: "Email" %>

      <%= f.submit %>
    <% end %>
  </div>
</div>
