<p id="notice"><%= notice %></p>

<h1>Newslleters</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @newslleters.each do |newslleter| %>
      <tr>
        <td><%= newslleter.name %></td>
        <td><%= newslleter.email %></td>
        <td><%= link_to 'Show', newslleter %></td>
        <td><%= link_to 'Edit', edit_newslleter_path(newslleter) %></td>
        <td><%= link_to 'Destroy', newslleter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Newslleter', new_newslleter_path %>
