<!-- Frontpage Slider -->
<div class="frontslider-wrap">
	<div class="responisve-container">
		<div class="slider" id="front-slider">
			<div class="slide">
				<img src="http://placehold.it/650x346"
				data-position="45,430" data-in="fade" data-delay="0" data-out="fade"
				alt="American Legends" />

				<p class="caption1" data-position="50,0" data-in="right" data-step="0"
				data-out="fade" data-delay="0">
					AMERICAN
				</p>

				<p class="caption2" data-position="150,0" data-in="right" data-step="0"
				data-out="fade" data-delay="0">
					LEGENDS
				</p>
			</div>
			<div class="slide">
				<img 	src="http://placehold.it/544x330"
						data-position="50,518" data-in="fade" data-delay="0" data-out="fade" alt="Legendary Bike">
				<p 		class="caption1"
						data-position="50,0" data-in="right" data-step="0" data-out="fade" data-delay="0">OFFROAD</p>
				<p 		class="caption2"
						data-position="150,0" data-in="right" data-step="0" data-out="fade" data-delay="0">KING</p>
			</div>
			<div class="slide">
				<img 	src="http://placehold.it/600x391"
						data-position="21,480" data-in="fade" data-delay="0" data-out="fade" alt="Dream Car">
				<p 		class="caption1"
						data-position="50,0" data-in="right" data-step="0" data-out="fade" data-delay="0">DREAM</p>
				<p 		class="caption2"
						data-position="150,0" data-in="right" data-step="0" data-out="fade" data-delay="0">CARS</p>
			</div>
		</div>
	</div>
</div>

<!-- Categories List -->
<div class="cont">
<ul class="frontcategs">
	<li>
		<a href="catalog.html">
			<span class="frontcategs-img">
				<img src="img/front-categories/frcateg1.png" alt="">
				<img src="img/front-categories/frcateg1h.png" alt="">
			</span>
			<p>Automoveis</p>
		</a>
	</li>
	<li>
		<a href="catalog.html">
			<span class="frontcategs-img">
				<img src="img/front-categories/frcateg2.png" alt="">
				<img src="img/front-categories/frcateg2h.png" alt="">
			</span>
			<p>Motocicletas</p>
		</a>
	</li>
	<li>
		<a href="catalog.html">
			<span class="frontcategs-img">
				<img src="img/front-categories/frcateg3.png" alt="">
				<img src="img/front-categories/frcateg3h.png" alt="">
			</span>
			<p>ATVs</p>
		</a>
	</li>

	<li>
		<a href="catalog.html">
			<span class="frontcategs-img">
				<img src="img/front-categories/frcateg5.png" alt="">
				<img src="img/front-categories/frcateg5h.png" alt="">
			</span>
			<p>UTVs</p>
		</a>
	</li>
	<li>
		<a href="catalog.html">
			<span class="frontcategs-img">
				<img src="img/front-categories/frcateg6.png" alt="">
				<img src="img/front-categories/frcateg6h.png" alt="">
			</span>
			<p>Scooters</p>
		</a>
	</li>
</ul>
</div>

<h1>Products</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.brand %></td>
        <td><%= product.name %></td>
        <td><%= product.description %></td>
        <td><%= product.price %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path %>
